certifi==2018.8.24
chardet==3.0.4
httpretty==0.9.5
idna==2.7
mss==3.2.1
numpy==1.15.1
opencv-python==4.2.0.32
pbr==4.2.0
Pillow==5.2.0
pipenv==2018.7.1
requests==2.19.1
six==1.11.0
stevedore==1.29.0
urllib3==1.23
virtualenv==16.0.0
virtualenv-clone==0.3.0
